html
  -webkit-tap-highlight-color: transparent

html.no-scroll
  &, body
    overflow: hidden
    position: relative
    height: 100%

body
  padding: 0 4.375em
  background-color: $color--background
  overflow-y: scroll

  +media-only(tablet)
    padding: 0 5vw

  +media-only(mobile)
    padding: 0 1em $header-height

main
  position: relative
  padding-bottom: 4.375em
  overflow-x: hidden

  +media-only(mobile)
    padding-bottom: 3.375em

p
  margin-top: 0.4rem

  +media-only(mobile)
    margin-top: 0

ul, ol
  padding-left: 1rem
  li + li
    margin-top: 0.4rem

a
  display: inline-block
  color: $color--plain
  text-decoration: none
  &:hover, &:focus, &.active
    text-decoration: underline
