html,
body

body
  padding: 0 4.375em
  flex-direction: column
  background-color: $color--background
  overflow-y: scroll

main
  position: relative
  min-width: 320px
  padding-bottom: 4.375em

p
  margin-top: 0.4rem

ul, ol
  padding-left: 1rem
  li + li
    margin-top: 0.4rem

a
  display: inline-block
  color: $color--plain
  text-decoration: none
  &:hover, &:focus, &.active
    text-decoration: underline
