@font-face {
  font-family: 'Apercu Pro Regular';
  src: font-url('apercu_pro_regular.eot');
  src: font-url('apercu_pro_regular.eot') format('embedded-opentype'),
       font-url('apercu_pro_regular.woff2') format('woff2'),
       font-url('apercu_pro_regular.woff') format('woff'),
       font-url('apercu_pro_regular.ttf') format('truetype'),
       font-url('apercu_pro_regular.svg#ApercuProRegular') format('svg');
}
