.article
  &__title
    @extend .subtitle
    line-height: 1.9rem
  &__author
    margin-right: 1.875em
    text-decoration: underline
  &__description
    margin: 1.4em 0

  &--indent-bottom-large
    margin-bottom: 5rem
