.header
  display: flex
  height: 4.375em
  margin-top: 3.125em

.logo
  width: 4.75em
  margin: 0 6% 0 4.375em
  background: asset-url('logo.png') no-repeat
  background-size: contain

.nav
  display: flex
  flex: auto
  border: 1px solid #d3dce2

.menu
  display: flex
  flex: auto
  justify-content: space-around
  align-items: center

  &__item

.search,
.language
  display: flex
  justify-content: center
  align-items: center
  width: 4.375em
  border-left: 1px solid #d3dce2

.search
.language
