.header
  display: flex
  justify-content: space-between
  height: $header-height
  margin: 3.125em -4.375em 4.375em 0

  +media-only(tablet)
    margin: 5vw -5vw 4.375em 0

  +media-only(mobile)
    margin: 3.125em 0 0

.header__logo
  width: 4.75em
  margin-right: 6%
  background: asset-url('logo.png') no-repeat
  background-size: contain

.header__nav
  display: flex
  flex: auto
  border: 1px solid $color--brand
  border-right: none

  +media-down(tablet)
    position: relative
    flex: none
    border-left: none

    &--active
      .header__nav__menu
        display: flex

      .header__nav__touch__link
        height: 1.3em
        background: asset-url('control/cross.svg') no-repeat

  +media-only(mobile)
    &--active
      .header__nav__touch__link
        height: 1.7em

  +media-only(mobile)
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    height: $header-height
    background-color: $color--background
    z-index: 1000

.header__nav__menu
  display: flex
  flex: auto
  justify-content: space-around
  align-items: center

  +media-down(tablet)
    display: none
    position: absolute
    flex-direction: column
    justify-content: center
    width: 100%
    top: calc(#{$header-height} - 1px)
    left: 0
    padding: 3.4rem 0
    background-color: $color--background
    border: 1px solid $color--brand
    border-top: none
    border-right: none
    z-index: 1000

    &__link
      margin: 1.2rem 0

  +media-only(mobile)
    position: fixed
    left: 0
    top: 0
    height: calc(100% - #{$header-height})
    border: none

    &__link
      margin: 1rem 0 3rem

  &--open
    display: block

.header__nav__touch
  display: none

  &__link
    height: 1.1em
    width: 1.375em
    background: asset-url('control/hamburger.svg') no-repeat
    background-size: contain
    margin-top: 2px

    +media-only(mobile)
      height: 1.4em
      width: 1.8em
      margin-top: 1px

  +media-down(tablet)
    display: flex


.header__nav__search
  &__link
    height: 1.4375em
    width: 1.375em
    background: asset-url('control/search.svg') no-repeat
    background-size: contain
    margin-top: 1px

    +media-only(mobile)
      height: 1.7em
      width: 1.7em

.header__nav__menu,
.header__nav__language
  &__link
    @extend %text-first
    color: $color--plain

    +media-down(tablet)
      font-size: 1.26rem
      line-height: 1.26rem

    +media-only(mobile)
      font-size: 1.8rem
      line-height: 1.8rem

.header__nav__search,
.header__nav__language
  display: flex

.header__nav__search,
.header__nav__language,
.header__nav__touch
  justify-content: center
  align-items: center
  width: $header-height
  border-left: 1px solid $color--brand

  +media-down(tablet)
    width: 6em

  +media-only(mobile)
    width: calc(100% / 3)

