.text
  margin-bottom: 2.5rem
  color: $color--plain

  &--first
    @extend %text-first

  &--second
    @extend %text-second
    color: $color--second

  &--small
    @extend %text-small
    blockquote
      @extend %quote
      margin: 1.25rem 0

    +media-only(mobile)
      margin-bottom: 0


  &--plain
    @extend %text-second
    margin-bottom: 1.5rem
