.title
  color: $color--brand

  &--big
    @extend %font-apercupro-regular
    @extend %title-first
  &--middle
    @extend %title-second
  &--small
    @extend %title-small

  &--indent-small
    margin-bottom: 1.125rem
  &--indent-middle
    margin-bottom: 1.6rem
  &--indent-large
    margin-bottom: 2.5rem
